<%- include('../partials/header') %>
<main>
  <h1>Welcome to your Dashboard, <%= user.firstName %>!</h1>

  <% if (user.role === 'customer') { %>
  <p>Start browsing for local services in your area.</p>
  <% } else if (user.role === 'provider') { %>
  <p>Manage your services and bookings here.</p>
  <% } %>
</main>

<%- include('../partials/footer') %>
