<%- include('../partials/header') %> <%- include('../partials/_messages') %>

<main class="homepage-main container">
  <div class="hero-section">
    <h1>Find and Book Trusted Local Professionals</h1>
    <p>
      From plumbers to photographers, connect with the best service providers in
      your area.
    </p>
    <a href="/providers" class="cta-button">Find a Pro Today</a>
  </div>
</main>

<%- include('../partials/footer') %>
