<%- include('../partials/header') %> <%- include('../partials/_messages') %>

<main class="container">
  <h1>Login to Your Account</h1>

  <form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Login</button>
  </form>

  <p class="auth-link">Don't have an account? <a href="/signup">Sign Up</a></p>
</main>

<%- include('../partials/footer') %>
