<%- include('../partials/header') %> <%- include('../partials/_messages') %>

<main class="container">
  <h1>Reset Your Password</h1>
  <p>Please enter your new password.</p>

  <form action="/reset-password" method="POST">
    <input type="hidden" name="token" value="<%= token %>" />

    <div>
      <label for="password">New Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div>
      <label for="confirmPassword">Confirm New Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>
    <button type="submit">Set New Password</button>
  </form>
</main>

<%- include('../partials/footer') %>
